* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Raleway', sans-serif;
padding: 20px;
background-image: url(../img/natural-pattern.png);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: grey;
}
.header-top {
  position: relative;
  border: 8px solid white;
  height: 300px;
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-bottom {
  height: 70px;
  background-color: lightblue;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-bottom {
  height: 50px;
  line-height: 50px;
  background-color: #504741;
}

.header-bottom nav ul {
  list-style: none;
  text-align: center;
}
.header-bottom nav li {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.header-bottom nav ul li a {
  display: inline-block;
  padding: 0 7px;
  color: #bab6b5;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-left: 1px solid #60554c;
  border-right: 1px solid #302A25;
}
.header-bottom nav ul li:last-child a {
  border-right:  0;
}
.header-bottom nav ul li:first-child a {
  border-left:  0;
}

.header-bottom nav ul li a:hover {
  color: #C8C6C5;
  background-color: #302A25;
}

.container-logo img {
  height: 150px;
}
.container-logo h1 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

main {
  width: 100%;
  padding: 10px 0;
}
main:after {
  content: '';
  display: table;
  clear: both;
}
.menu li {
  font-size: 14px;
  margin-bottom: 5px;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: green;
}
.menu li a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 100px;
  color: lightgray;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}
footer .footer-top {
 text-align: center;
 border-bottom: 1px inset grey;
}

footer .footer-bottom::after{
  content: '';
  display: table;
  clear:both;
}
footer .footer-bottom .footer-col {
  float: left;
  width: 33.3%;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
footer .footer-bottom .footer-col a {
  color: lightgray;
}
footer .footer-bottom .footer-col:hover {
  color: grey;
}


.col-left {
  float: left;
  width: 20%;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}
.col-left-header:after {
  content: '';
  display: table;
  clear:both;
}

.col-left-header i {
  float: left;
}
.col-left-header h3 {
  float: left;
}
.col-left-header h3 {
  width: 60%;
}
.col-left-header i {
  color: orange;
  font-size: 20px;
  margin-right: 5px;
}
.col-center {
  float: left;
  width: 50%;
  padding: 5px;
  margin: 0 5%;
  border-radius: 5px;
  background-color: white;
}
.col-center .title {
  margin-bottom: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #302A25;
  text-shadow: 2px 2px 3px #5d5147;
  text-transform: uppercase;
}


.col-right {
  float: left;
  width: 20%;
}
.col-right .widget {
  padding: 5px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  line-height: 24px;
  font-size: 14px;
  }

  .col-right .widget h3 {
    margin-bottom: 20px;
    color: #302A25;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #5d5147;
  }
